* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #20466a;
  --second-color: #e1b53a;
}

body {
  height: 100vh;
}

.home {
  background-color: #000000;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr;
  color: #fff;
}
